<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/flare.css">
  <title>Feature Learning and Representation Engineering</title>
</head>
<body>
<div class="container">
  <div class="header">
    <h1>FLARE</h1>
    <p class="lead">
      An anonymous support group for heavy users of gradients and
      nonlinearities.
    </p>
  </div>

  <div class="row">
    <h2>Current Meetings</h2>
    <p>
      Most of our business is conducted in the
      <a href="https://groups.google.com/forum/#!forum/ut-flare">Google Group</a>.
      If you're interested in joining, please subscribe!
    </p>
    <p>Fall 2016: Every other Wednesday in GDC 3.516 at 10am.</p>
  </div>

  <div class="row">
    <h3> Deep Learning at UT </h3>
    <a href="http://www.cs.utexas.edu/~ai-lab/area-view.php?AreaID=180">
      Here is a list
    </a> of some of the Deep Learning work going on within the
    AI Lab. A buch of <a href="http://www.cs.utexas.edu/~grauman/research/pubs.html">
      Kristen Grauman's lab </a> uses NNs for stuff too, as does the
    <a href="http://nn.cs.utexas.edu/pub-list.php">NNRG</a>.
  </div>

  <div class="row">
    <h3>Some resources to get a grounding in Deep Learning</h3>
    <table class="resources">
      <tr>
        <th class="year">Year</th>
        <th class="title">Link / Description</th>
        <!--<th class="notes">Notes</th>-->
      </tr>
    {% for resource in resources %}
      <tr>
        <td class="year">{{ resource.year }}</td>
        <td class="title">
          <p><a href="{{ resource.url }}">{{ resource.link_description }}</a></p>
          <p class="description">
            {{ resource.description }}
          </p>
        </td>
      </tr>
    {% endfor %}
    </table>

  </div>


  <div class="row">
    <h3>Previously Read Papers</h3>
    <p>Here are the previous papers we've read in FLARE. This list often grows stale.</p>
    <table class="previouspapers">
      <tr>
        <th class="dateread">Date Read</th>
        <th class="year">Published</th>
        <th class="title">Title / Suggestor Notes</th>
      </tr>
      {% for paper in previous_papers %}
      <tr>
        <td class="dateread">{{ paper.dateread }}</td>
        <td class="year">{{ paper.year }}</td>
        <td class="title">
          <p><a href="{{ paper.url }}">{{ paper.title }}</a></p>
          <p class="description">{{ paper.description }}</p>
        </td>
      </tr>
      {% endfor %}
    </table>
</div>

</body>
</html>
